# Python
__pycache__/
*.py[cod]

# Python packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
buildenv/

# Tool caches
.pytest_cache/

# Editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
